<?xml version="1.0" encoding="shift_jis"?>
<EtwLogViewerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- ETW Providers -->
  <Providers>
    <Provider FriendlyName="testLogger1" Name="testLogger1" ID="{00000000-0000-0000-0000-000000000000}" />
    <Provider FriendlyName="testLogger2" Name="testLogger2" />
    <Provider FriendlyName=".NET CLR" ID="{E13C0D23-CCBC-4E12-931B-D9CC2EEE27E4}" />
  </Providers>
  
  <!-- Known payloads -->
	<KnownPayloads>
    <string>LoggerName</string>
    <string>Sequence</string>
		<string>Time</string>
		<string>Message</string>
		<string>MemberName</string>
		<string>FilePath</string>
		<string>Line</string>
	</KnownPayloads>
  
  <!-- Visible fields -->
  <!--
    To specify the payload, add a dot before the item name.
    ex) .Message
  -->
	<Fields>
    <Field Name="TimeStamp" Width="120" />
    <Field Name="ProviderFriendlyName" Width="120" />
    <Field Name="ProviderName" Width="120" />
    <Field Name="FormattedMessage" Width="200" />
    <Field Name=".LoggerName" Width="100" />
    <Field Name=".Message" Width="200" />
    <Field Name=".Sequence" Width="70" />
    <Field Name=".Time" Width="120" />
    <Field Name=".MemberName" Width="100" />
    <Field Name=".FilePath" Width="100" />
    <Field Name=".Line" Width="50" />
  </Fields>
  
</EtwLogViewerConfig>
